body {
  margin: 0;
}

.footer {
  margin-top: 10%;
  height: 15rem;
  padding: 0 225px;
  background-color: hsl(77, 47%, 6%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.row1 {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row2 {
  height: 2.25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logoArea */
.logoArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.logo {
  aspect-ratio: 1/1;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(135, 174, 11);
}

.logoText {
  font-size: xx-large;
  color: hsl(70, 60%, 96%);
}

/* aboutArea */
.aboutArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.5rem;
}

.aboutFeature {
  font-size: x-large;
  font-weight: bold;
  color: hsl(70, 60%, 96%);
}

/* socialPlatform */
.socialPlatform {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.regularButtons {
  color: hsl(70, 60%, 96%);
  fill: hsl(70, 60%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* copyright */
.copyright {
  color: hsl(70, 60%, 96%);
  font-size: large;
}