html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(66, 80, 29);
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    height: 90%;
    width: 80%;
    box-shadow: 0 0 20px black;
    border-radius: 5rem;
    background-image: url(../image/web_img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.login_content{
    position: relative;
    width: 30%;
    height: 100%;
    background-color: rgb(249, 251, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0%;
    box-shadow: 0 0 2rem rgba(73, 89, 32, 1);
    transition: left 0.75s cubic-bezier(.35,1.45,.75,1);

}
.login{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

}
.LOGO{
    position: fixed;
    width: 10%;
    display: flex;
    height: 15%;
    flex-direction: row;
    align-items: center;
    left: 12%;
    top: 8%;
    z-index: 99;

}
.icon{
    margin-left:8% ;
    height: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color:rgb(143, 171, 56);
    transition: background-color 0.5s ease-in-out;


}
.LOGOtext{
    margin-left:3% ;
    font-size:4vh;
    font-weight: 1000;
    color: rgb(76, 88, 41);
    transition: color 0.5s ease-in-out;

}
.titleEnglish{
    font-family: "Inter", sans-serif;
    font-weight: 1000;
}
.Login_Resgister{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    transition: all 0.5s ease-in-out;
}
.itemToggle {
    height: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    user-select: none;
    visibility: hidden;
    /* display: none; */
}

input{
    height: 3rem;
    border: none;
    background-color: rgba(249, 251, 239, 128);
    border-radius: 1rem;
    outline-style: solid;
    outline-width: 0.15rem;
    outline-color: rgb(73, 89, 32);
    box-shadow: 0 0 0.5rem rgba(73, 89, 32, 0.2);
    font-size: 1.25rem;
    padding: 0 0.5rem;
    transition: all 0.2s ease-in-out;
}
input:focus {
    outline-color: rgb(236, 137, 181);
    box-shadow: 0 0 1rem rgba(236, 137, 181,0.7);
    transition: all 0.2s ease-in-out;
}
.login_btn{
    width: 100%;
    height: 3.5rem;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(236, 137, 181);
    color: rgb(249, 251, 239);
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    font-size: 1.25rem;

}
h1{
    font-size: 2rem;
    transition: color 0.5s ease-in-out;

}