.switch {
  display: flex;
  align-items: center;
  position: relative;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  position: absolute;
  height: 1.5rem;
  aspect-ratio: 2;
  background-color: rgb(255, 203, 226);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: 2px solid rgb(135, 174, 11);
}

.slider::after {
  position: absolute;
  content: "";
  height: 1.4rem;
  aspect-ratio: 1/1;
  background-color: rgb(249, 251, 239);
  transition: 0.4s;
  outline: 2px solid rgb(135, 174, 11);
  right: 50%;
}

input:checked + .slider {
  background-color: rgb(201, 235, 76);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:after {
  right: 0%;
}

/* Rounded sliders */
.slider.round {
  border-radius: 0.75rem;
}

.slider.round::after {
  border-radius: 50%;
  margin: 0.05rem;
}
